@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.login-head {
  position: relative;
  width: 100%;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.login-head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-bottom: 1px solid #eee;
}

label {
  font-size: 1.2rem;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  outline: none;
  color: #333;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: #aaa;
}

.tab {
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  background-size: 10px;
}

.main-banner {
  background-image: url("../public/images/login_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.banner {
  display: flex;
  background: #000;
  flex-direction: column;
  justify-content: start;
}
