@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 350px;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.login-head {
  position: relative;
  width: 100%;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.login-head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-bottom: 1px solid #eee;
}

label {
  font-size: 1.2rem;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  outline: none;
  color: #333;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: #aaa;
}

.tab {
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  background-size: 10px;
}

.main-banner {
  background-image: url("../public/images/login_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.banner {
  display: flex;
  background: #000;
  flex-direction: column;
  justify-content: start;
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.5s;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #eee;
}

.sidebar-wrapper {
}

.sidebar-wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* section {
  max-width: calc(100% - 145px);
} */

@media (max-width: 768px) {
  .sidebar {
    width: max-content;
  }
  .hide {
    display: none;
  }
  .active {
    margin-inline: 0;
  }

  /* section {
    max-width: calc(100% - 60px);
  } */
}
/* @media (min-width: 1024px) {
  section {
    max-width: 100%;
  }
} */

.sidebar__logo {
  padding-inline: 0.5rem;
  margin-bottom: 1rem;
}

.sidebar__nav-icon-svg {
  width: 2.5rem;
  height: 2.5rem;
}

.sidebar__nav {
}

.sidebar__nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.sidebar__nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.active {
  background-color: rgb(0, 0, 0, 0.3);
  border-right: 6px solid #333;
  margin-inline: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #333;
  margin-top: 0.2rem;
}

.scroll-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1rem;
  overflow-x: auto;
}
